<div class="container">
	<h4>Book List</h4>
	<div align="right">
		<a class="waves-effect waves-light modal-trigger btn" href="#modal1"  (click)="openModal()" >
			Add New Book <i class="material-icons right">add</i>
		</a>
	</div>
	
	<ul class="collection" >
		<li class="collection-item" *ngIf="listOfBooks?.length == 0">
			<div align="center" ><h5>{{ emptyList }}</h5></div>
		</li>
		<li class="collection-item"  *ngFor="let book of listOfBooks;">
			
			<div class="card horizontal">
				<div class="card-image">
					<img [src] = "book.photoUrl" class="responsive-img">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4"><strong>
						{{ book.title }}</strong></span>
						<p *ngFor="let author of book.authors" >
							{{ author.name }} <br> 
						</p>
						<p>{{ book.releasedDate }}</p> <br>
						<br>
						<p>{{ book.description }}</p>
					</div>
					<div class="card-action">
						<div align="right">
							<a class="btn-floating waves-effect waves-light blue"><i
								class="material-icons" (click)="editBook(book)">edit</i></a> 
							<a class="btn-floating waves-effect waves-light red" (click)="deleteBook(book)"><i
								class="material-icons">delete</i></a>
						</div>
					</div>
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><i
						class="material-icons right">comment</i></span>

				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Comment<i
						class="material-icons right">close</i></span>
					<ul>
						<li *ngFor="let comment of book.comments;">
							<blockquote>
								<h5>{{ comment.name }}</h5>
								<p>{{ comment.review }}</p>
							</blockquote>
						</li>
					</ul>
					<br>
						<div class="input-field col s12">
							<div class="input-field">
								<input #commentName (keyup.enter)="addComment(commentName.value)" type="text" class="validate">
		          				<label for="commentName">Title</label>
	          				</div>
	          				<div class="input-field">
								<textarea class="validate" id="commentReview" class="materialize-textarea" #commentReview></textarea>
								<label for="commentReview">Comment this book</label>
							</div>
							<button class="btn waves-effect" type="button" (click)="addComment(book, commentReview, commentName)"
								name="btn-comment">
								Comment <i class="material-icons right">send</i>
							</button>
						</div>
				</div>
			</div>
		</li>
	</ul>
	<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
		<div class="modal-content">
			<h4>{{ modalTitle }}</h4> <br>
			<form method="POST" class="col s12">
			 	<div class="row">
					<div class="input-field">
						<input type="text" [ngModel]="book.title" class="validate" name="title" id="book-title" #bookTitle/> 
						<label for="book-name">Title</label>
					</div>
					<div class="input-field" >
						<textarea class="validate materialize-textarea" name="description" [ngModel]="book.description" id="book-description" #bookDescription></textarea>
						<label for="book-description">Description</label>
					</div>
				
					<div class="input-field col s6">
						<input type="text" [ngModel]="book.releasedDate" name="releasedDate" class="validate" id="book-date" #bookReleastedDate/> 
						<label for="book-date">Date</label>
					</div>
					<div class="input-field col s6">
						<input type="text" [ngModel]="book.authors" name="authors" class="validate" id="book-author" #bookAuthor/> 
						<label for="book-author">Author</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<input type="text" [ngModel]="book.isbn" name="isbn" class="validate" id="book-isbn" #bookIsbn/> 
						<label for="book-isbn">ISBN</label>
					</div>
					<div class="input-field">
						<input type="text" [ngModel]="book.photoUrl" name="photoUrl" class="validate" id="book-image-url" #bookImageUrl/> 
						<label for="book-image-url">Image URL</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="modal-action modal-close waves-effect waves-green btn"
						(click)="addBook(bookTitle, bookDescription, bookReleastedDate, bookAuthor, bookIsbn, bookImageUrl)">
						<i class="material-icons right">send</i>Submit
					</button>
					<a (click)="closeModal()"
						class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
